.gameSpace {
	background: url(../images/board.png);
	height:420px;
	width:420px;
	background-size: cover;
	margin:0;
	padding:0;
}
.square {
	height:120px;
	width:120px;
	display:inline-block;
	margin:10px;
	padding:0;
}
.numDisp {
	font-size: 50px;
}
.gameSpace {
	margin: 0 auto;
}
main{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
}
h1 {
	margin:0;
	padding:0;
}
h2 {
	margin:0;
}
#p1{
	color:red;
}
#p2{
	color:blue;
}
#cat{
	color:green;
}