<!DOCTYPE html>
<html ng-app='tttApp'>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" defer></script>
		<script src="js/app.js" defer> </script>
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js' defer></script>
		<title>Let's play TicTacToe!</title>
	</head>
	<body>
		<main ng-controller="tttController as tttCtrl">
		<h2>Player 1: <span class="numDisp" id="p1" ng-bind="tttCtrl.p1Lines"></span> Player 2: <span class ="numDisp" id="p2" ng-bind="tttCtrl.p2Lines"></span> <img src="images/rsz_cat.gif">: <span class="numDisp" id="cat" ng-bind="tttCtrl.catLines"> </h2>
		<div class="gameSpace">
			<div ng-click="tttCtrl.makeMove(square.index)" ng-repeat="square in tttCtrl.squares" class="square">
				<img class="mark" id="X" ng-show="square.value===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="square.value===5" src="images/tttO.png">
			</div>	
		</div>
			<br>
			<h1>The Winner is: <span ng-bind="tttCtrl.winner"></span><img ng-show="tttCtrl.cat==true "src="images/rsz_cat.gif"></h1>
			<input type="button" value="New Game" ng-click="tttCtrl.restart()">
			<input type="button" value="Reset" ng-click="tttCtrl.reset()">
		
	</body>
</html>