<!DOCTYPE html>
<html ng-app='tttApp'>
	<head>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js" defer></script>
		<script src="js/app.js" defer> </script>
		<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js' defer></script>
		<title>Let's play TicTacToe!</title>
	</head>
	<body>
		<main ng-controller="tttController as tttCtrl">
		<h1>The Winner is: {{tttCtrl.winner}}
		<div class="gameSpace">
			<div ng-click="tttCtrl.makeMove(0)" class="square" id="s1">
				<img class="mark" id="X" ng-show="tttCtrl.squares[0]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[0]===5" src="images/tttO.png">
			</div>	
			<div ng-click="tttCtrl.makeMove(1)" class="square" id="s2">
				<img class="mark" id="X" ng-show="tttCtrl.squares[1]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[1]===5" src="images/tttO.png">
			</div>
			<div ng-click="tttCtrl.makeMove(2)" class="square" id="s3">
				<img class="mark" id="X" ng-show="tttCtrl.squares[2]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[2]===5" src="images/tttO.png">
			</div>
			<br>
			<div ng-click="tttCtrl.makeMove(3)" class="square" id="s4">
				<img class="mark" id="X" ng-show="tttCtrl.squares[3]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[3]===5" src="images/tttO.png">
			</div>
			<div ng-click="tttCtrl.makeMove(4)" class="square" id="s5">
				<img class="mark" id="X" ng-show="tttCtrl.squares[4]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[4]===5" src="images/tttO.png">
			</div>
			<div ng-click="tttCtrl.makeMove(5)" class="square" id="s6">
				<img class="mark" id="X" ng-show="tttCtrl.squares[5]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[5]===5" src="images/tttO.png">
			</div>
			<br>
			<div ng-click="tttCtrl.makeMove(6)" class="square" id="s7">
				<img class="mark" id="X" ng-show="tttCtrl.squares[6]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[6]===5" src="images/tttO.png">
			</div>
			<div ng-click="tttCtrl.makeMove(7)" class="square" id="s8">
				<img class="mark" id="X" ng-show="tttCtrl.squares[7]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[7]===5" src="images/tttO.png">
			</div>
			<div ng-click="tttCtrl.makeMove(8)" class="square" id="s9">
				<img class="mark" id="X" ng-show="tttCtrl.squares[8]===1" src="images/tttX.png">
				<img class="mark" id="O" ng-show="tttCtrl.squares[8]===5" src="images/tttO.png">
			</div>
			<br>
			<input type="button" value="Clear Board" ng-click="tttCtrl.restart()">
		</div>
	</body>
</html>